[Unit]
Description=Send rain alerts in the morning
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/venky/src/rain-alert
ExecStart=/home/venky/.local/bin/uv run rain-alert.py --lat 51.509865 --lon -0.118092
User=venky
Type=oneshot
RemainAfterExit=no
